<%- include("partials/header") %>
<div class="container">
<div class="address">
    <h1 class="contact">
        Contact Us
    </h1>
    <p>Our Phone: <a class="phone" href="tel">08065632313 or 0901967582</a></p>
  

    <h1 class="contact">Visit us</h1>
    <p>Address: Operational Center Hall no. 6 Staffed Development Cresent High level Makurdi, Benue State.</p>
</div>
    </div>
    <div class="container">
        <h1 class="message">
            Send Us a message
        </h1>
        <form  action="mailto:marveletukudoh@gmail.com" method="POST" enctype="multipart/form-data" name="EmailFrom">
    
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="name" >
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="Topic" >
            </div>
            <div class="form-group">
                <textarea class="form-control" type="text" name="describe" id="" placeholder="Type your message" cols="30" rows="10"></textarea>
            </div>
                <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
    </form>
    </div>
</div>
</div>
<div class="container back">
    <a class="btn btn-sm btn-danger" href="/">Back</a>
</div>


<%- include("partials/footer") %>

