<%- include("partials/header") %>
<div class="about">
  <h1 class="welcome">MEAKAA ENTERPRISES</h1>
  <p class="welcome-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ipsa eum sed illum qui pariatur nobis, delectus saepe. Eius delectus deserunt nesciunt itaque, sunt aperiam minus explicabo optio molestias reprehenderit?</p>
</div>
<div class="container">
<div class="sectors">
    <div class="row sec">
      <div class="col event-mmgt">
        <h1 class="space"> EVENT MANAGEMENT</h1>
      </div>
      <div class="col ">
        <h1> EVENT MANAGEMENT</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi labore aperiam dolor, laborum unde porro quas velit, mollitia temporibus assumenda sapiente, quam repudiandae blanditiis quasi repellendus? Assumenda voluptas fuga at.</p>
      </div>
    </div>
    <div class="row sec">
      <div class="col">
        <h1>INTERIOR DECOR</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam necessitatibus mollitia placeat error pariatur vitae, dolore suscipit facilis atque iure fugiat saepe at repellat reiciendis, quaerat sed officiis. Quasi, animi.</p>
      </div>
      
      <div class="col interior-decor">
        <h1 class="space">INTERIOR DECOR</h1>
         </div>
    </div>
    <div class="row sec">
        <div class="col food-production">
          <h1 class="space">FOOD PRODUCTION </h1>
           </div>
        
        <div class="col">
          <h1>FOOD PRODUCTION & TRAINING</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam necessitatibus mollitia placeat error pariatur vitae, dolore suscipit facilis atque iure fugiat saepe at repellat reiciendis, quaerat sed officiis. Quasi, animi.</p>
           </div>
    </div>
</div>
  </div>

<%- include("partials/footer") %>


